{% extends "atd/base.html" %}

{% block title %}ATD Dashboard{% endblock title %}

{% block breadcrumb_title %}Overview{% endblock breadcrumb_title %}

{% block body_title %}Dashboard{% endblock body_title %}

{% block body_description %}This is the dashboard of ATD{% endblock body_description %}

{% block content %}
<!-- Row 1 -->
<div class="row my-3">
    <!-- Card 1 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Rank Count</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Critical</th>
                            <th>Weak</th>
                            <th>Normal</th>
                            <th>Secure</th>
                        </tr>
                        <tr>
                            <td>{{ rank_count.critical }}</td>
                            <td>{{ rank_count.weak }}</td>
                            <td>{{ rank_count.normal }}</td>
                            <td>{{ rank_count.secure }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Target Num</h5>
            <div class="card-body">
                <h5 class="card-title">{{ target_num.num }}</h5>
                <p class="card-text">Latest Registration: {{ target_num.latest_date }}</p>
                <p class="card-text text-success">18.2% increase since last month</p>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Scan Num</h5>
            <div class="card-body">
                <h5 class="card-title">{{ scan_num.num }}</h5>
                <p class="card-text">Latest Scan: {{ scan_num.latest_date }}</p>
                <p class="card-text text-success">4.6% increase since last month</p>
            </div>
        </div>
    </div>
</div>

<!-- Row 2 -->
<div class="row my-3">
    <!-- Card 1 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <div class="card-body">
                <div id="traffic-chart1"></div>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <div class="card-body">
                <div id="traffic-chart2"></div>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            <div class="card-body">
                <div id="traffic-chart3"></div>
            </div>
        </div>
    </div>
</div>

<!-- Row 3 -->
<div class="row">
    <div class="col-12 col-xl-12 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header"><a href="{% url 'atd:target_list' %}">Target List</a></h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Model name</th>
                            <th scope="col">Overview</th>
                            <th scope="col">Author</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Scan date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for target in targets %}
                        <tr>
                            <th scope="row">{{ target.id }}</th>
                            <td>{{ target.name }}</td>
                            <td>{{ target.overview }}</td>
                            <td>{{ target.author }}</td>
                            <td>{{ target.registration_date}}</td>
                            <td>{{ target.rank }}</td>
                            <td>{{ target.last_scan_date }}</td>
                            <td>{{ target.status }}</td>
                            <td>
                                <a href="{% url 'atd:scan_detail' target_id=target.id %}" class="btn btn-primary btn-sm">View</a>
                                <a href="{% url 'atd:target_mod' target_id=target.id %}" class="btn btn-info btn-sm">Edit</a>
                                <a href="{% url 'atd:target_del' target_id=target.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-block btn-light">View all</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    new Chartist.Pie('#traffic-chart1', {
        series: [0, 1, 0, 0],
        labels: ['','Weak','', '']
    }, {
        donut: true,
        donutWidth: 52
    });

    new Chartist.Line('#traffic-chart2', {
        labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
        series: [
            [23000, 25000, 19000, 34000, 56000, 64000]
        ]
    }, {
        low: 0,
        showArea: true
    });

    new Chartist.Line('#traffic-chart3', {
        labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
        series: [
            [23000, 25000, 19000, 34000, 56000, 64000]
        ]
    }, {
        low: 0,
        showArea: true
    });
</script>
{% endblock extra_js %}

