{% extends "atd/base.html" %}

{% block title %}Scan Detail{% endblock title %}

{% block breadcrumb_title %}Scan Detail{% endblock breadcrumb_title %}

{% block body_title %}Scan Detail{% endblock body_title %}

{% block body_description %}This is scan details.{% endblock body_description %}

{% block content %}
<h4 class="mt-4 border-bottom">Target Model's Information</h4>
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Target ID</th>
            <td>{{ target.id }}</td>
          </tr>
          <tr>
            <th>Model path</th>
            <td>{{ target.target_path }}</td>
          </tr>
          <tr>
            <th>Model name</th>
            <td>{{ target.name }}</td>
          </tr>
          <tr>
            <th>Dataset</th>
            <td>{{ target.x_train }}, {{ target.y_train }}, {{ target.x_test }}, {{ target.y_test }}</td>
          </tr>
          <tr>
            <th>Author</th>
            <td>{{ target.author }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4 border-bottom">Scan List</h4>
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Attack Type</th>
            <th>Method</th>
            <th>Rank</th>
            <th>Accuracy (%)</th>
            <th>Scan Date</th>
            <th>Status</th>
            <th colspan="3">Scan</th>
            <th colspan="2">Report</th>
          </tr>
          </thead>
          <tbody>
          <!-- Data Poisoning : Feature Collision Attack -->
          <tr>
            <td>1</td>
            <td rowspan="3">Data Poisoning</td>
            <td>Feature Collision Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_data_poisoning_fc" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_fc">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_fc">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Data Poisoning : Convex Polytope Attack -->
          <tr>
            <td>2</td>
            <td>Convex Polytope Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_data_poisoning_cp" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_cp">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_cp">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Data Poisoning : Bullseye Polytope Attack -->
          <tr>
            <td>3</td>
            <td>Bullseye Polytope Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_data_poisoning_bp" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_bp">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="data_poisoning_bp">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Model Poisoning : Node Injection Attack -->
          <tr>
            <td>4</td>
            <td rowspan="2">Model Poisoning</td>
            <td>Node Injection Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_model_poisoning_ni" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="model_poisoning_ni">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="model_poisoning_ni">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Model Poisoning : Malicious Layer Injection Attack -->
          <tr>
            <td>5</td>
            <td>Malicious Layer Injection Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_model_poisoning_mli" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="model_poisoning_mli">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="model_poisoning_mli">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Evasion : Fast Gradient Signed Method -->
          <tr>
            <td>6</td>
            <td rowspan="3">Evasion</td>
            <td>Fast Gradient Signed Method</td>
            <td>{{ evasion.evasion_fgsm.rank }}</td>
            <td>{{ evasion.evasion_fgsm.accuracy }}</td>
            <td>{{ evasion.evasion_fgsm.exec_end_date }}</td>
            <td>{{ evasion.evasion_fgsm.status }}</td>
            <td>
              <input type="checkbox" name="bulk_evasion_fgsm" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_fgsm">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_fgsm">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              {% if evasion.evasion_fgsm.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_fgsm.scan_id }}">
                <input type="hidden" name="attack_type" value="{{ evasion.evasion_fgsm.attack_type }}">
                <input type="hidden" name="attack_method" value="{{ evasion.evasion_fgsm.attack_method }}">
                <input type="hidden" name="operation" value="view">
                <button type="submit" class="btn btn-success">View</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-success" disabled>View</button>
                  {% endif %}
                </form>
            </td>
            <td>
              {% if evasion.evasion_fgsm.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_fgsm.scan_id }}">
                <input type="hidden" name="operation" value="download">
                <button type="submit" class="btn btn-warning">Download</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-warning" disabled>Download</button>
                  {% endif %}
                </form>
            </td>
          </tr>
          <!-- Evasion : Carlini and Wagner Attack -->
          <tr>
            <td>7</td>
            <td>Carlini and Wagner Attack</td>
            <td>{{ evasion.evasion_cnw.rank }}</td>
            <td>{{ evasion.evasion_cnw.accuracy }}</td>
            <td>{{ evasion.evasion_cnw.exec_end_date }}</td>
            <td>{{ evasion.evasion_cnw.status }}</td>
            <td>
              <input type="checkbox" name="bulk_evasion_cnw" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_cnw">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_cnw">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              {% if evasion.evasion_cnw.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_cnw.scan_id }}">
                <input type="hidden" name="attack_type" value="{{ evasion.evasion_cnw.attack_type }}">
                <input type="hidden" name="attack_method" value="{{ evasion.evasion_cnw.attack_method }}">
                <input type="hidden" name="operation" value="view">
                <button type="submit" class="btn btn-success">View</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-success" disabled>View</button>
                  {% endif %}
                </form>
            </td>
            <td>
              {% if evasion.evasion_cnw.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_cnw.scan_id }}">
                <input type="hidden" name="operation" value="download">
                <button type="submit" class="btn btn-warning">Download</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-warning" disabled>Download</button>
                  {% endif %}
                </form>
            </td>
          </tr>
          <!-- Evasion : Jacobian-based Saliency Map Attack -->
          <tr>
            <td>8</td>
            <td>Jacobian-based Saliency Map Attack</td>
            <td>{{ evasion.evasion_jsma.rank }}</td>
            <td>{{ evasion.evasion_jsma.accuracy }}</td>
            <td>{{ evasion.evasion_jsma.exec_end_date }}</td>
            <td>{{ evasion.evasion_jsma.status }}</td>
            <td>
              <input type="checkbox" name="bulk_evasion_jsma" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_jsma">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="evasion_jsma">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              {% if evasion.evasion_jsma.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_jsma.scan_id }}">
                <input type="hidden" name="attack_type" value="{{ evasion.evasion_jsma.attack_type }}">
                <input type="hidden" name="attack_method" value="{{ evasion.evasion_jsma.attack_method }}">
                <input type="hidden" name="operation" value="view">
                <button type="submit" class="btn btn-success">View</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-success" disabled>View</button>
                  {% endif %}
                </form>
            </td>
            <td>
              {% if evasion.evasion_jsma.scan_id %}
              <form action="{% url 'atd:report' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan_id" value="{{ evasion.evasion_jsma.scan_id }}">
                <input type="hidden" name="operation" value="download">
                <button type="submit" class="btn btn-warning">Download</button>
                {% else %}
                <form action="{% url 'atd:target_list' %}" method="get">
                  <button type="submit" class="btn btn-warning" disabled>Download</button>
                  {% endif %}
                </form>
            </td>
          </tr>
          <!-- Exfiltration : Membership Inference Attack -->
          <tr>
            <td>9</td>
            <td rowspan="3">Exfiltration</td>
            <td>Membership Inference Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_exfiltration_mi" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_mi">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_mi">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Exfiltration : Label Only Membership Inference Attack -->
          <tr>
            <td>10</td>
            <td>Label Only Membership Inference Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_exfiltration_lomi" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_lomi">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_lomi">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <!-- Exfiltration : Model Inversion Attack -->
          <tr>
            <td>11</td>
            <td>Model Inversion Attack</td>
            <td>{{ scan_detail.rank }}</td>
            <td>{{ scan_detail.accuracy }}</td>
            <td>{{ scan_detail.exec_end_date }}</td>
            <td>{{ scan_detail.status }}</td>
            <td>
              <input type="checkbox" name="bulk_exfiltration_minv" value="1">
            </td>
            <td>
              <form action="{% url 'atd:scan_exec' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_minv">
                <button type="submit" class="btn btn-primary">Scan</button>
              </form>
            </td>
            <td>
              <form action="{% url 'atd:scan_setting' target_id=target.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="method" value="exfiltration_minv">
                <button type="submit" class="btn btn-info">Setting</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-success">View</button>
            </td>
            <td>
              <button type="submit" class="btn btn-warning">Download</button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3">
              <button type="submit" class="btn btn-danger">Bulk-Scan</button>
            </td>
            <td colspan="2">
              <button type="submit" class="btn btn-danger">View-All</button>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<a href="{% url 'atd:target_list' %}" class="btn btn-secondary">Back</a>
{% endblock content %}
