{% extends "atd/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Edit</h4>
    {% if target_id %}
    <form action="{% url 'atd:target_mod' target_id=target_id %}" method="post">
    {% else %}
    <form action="{% url 'atd:target_add' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <a href="{% url 'atd:target_list' %}" class="btn btn-secondary btn-sm">Back</a>
{% endblock content %}