{% extends "gyoithon/base.html" %}
{% load i18n static %}

{% block title %}{{ subdomain.name }}{% endblock title %}

{% block breadcrumb_title %}
<a href="{% url 'gyoithon:detail_organization' organization_id=organization.id %}">{{ organization.name }}</a>
&nbsp;/&nbsp;
<a href="{% url 'gyoithon:detail_domain' organization_id=organization.id domain_id=domain.id %}">{{ domain.name }}</a>
&nbsp;/&nbsp;
{{ subdomain.name }}
{% endblock breadcrumb_title %}

{% block body_title %}{{ subdomain.name }}{% endblock body_title %}

{% block body_description %}{{ subdomain.overview | linebreaksbr }}{% endblock body_description %}

{% block content %}
{% if subdomain.http_screenshot_url != 'N/A' %}
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th><a href="{{ subdomain.http_screenshot_url }}">{{ subdomain.http_screenshot_url }}</a></th>
            <th><a href="{{ subdomain.https_screenshot_url }}">{{ subdomain.https_screenshot_url }}</a></th>
          </tr>
          </thead>
          <tr>
            <td>
              <figure>
                <img src="{% static 'gyoithon/img/screenshot/' %}{{ subdomain.http_screenshot_path }}" alt="{{ subdomain.http_page_title }}" width="50%">
                <figcaption>{{ subdomain.http_page_title }}</figcaption>
              </figure>
            </td>
            <td>
              <figure>
                <img src="{% static 'gyoithon/img/screenshot/' %}{{ subdomain.https_screenshot_path }}" alt="{{ subdomain.https_page_title }}" width="50%">
                <figcaption>{{ subdomain.https_page_title }}</figcaption>
              </figure>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Registration Date</th>
            <td>{{ subdomain.registration_date }}</td>
          </tr>
          <tr>
            <th>IP Address</th>
            <td>{{ subdomain.ip_address | linebreaksbr }}</td>
          </tr>
          <tr>
            <th>Environment</th>
            <td>{{ subdomain.get_production_display }}</td>
          </tr>
          <tr>
            <th>Cloud Type</th>
            <td>{{ subdomain.get_cloud_type_display }}</td>
          </tr>
          <tr>
            <th>HTTP Accessible</th>
            <td>{{ subdomain.http_accessible }}&nbsp;(&nbsp;{{ subdomain.http_location }}&nbsp;)</td>
          </tr>
          <tr>
            <th>HTTPS Accessible</th>
            <td>{{ subdomain.https_accessible }}&nbsp;(&nbsp;{{ subdomain.https_location }}&nbsp;)</td>
          </tr>
          <tr>
            <th>DNS Record</th>
            <td>{{ subdomain.dns_a_record | linebreaksbr }}</td>
          </tr>
          <tr>
            <th>Rank</th>
            <td>{{ subdomain.get_rank_display }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{ subdomain.get_status_display }}</td>
          </tr>
          <tr>
            <th colspan="2">
              <a href="{% url 'gyoithon:edit_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-info">Edit</a>
              <a href="{% url 'gyoithon:registration_subdomain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-warning">Assess</a>
              <a href="{% url 'gyoithon:delete_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-danger">Hide</a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4 border-bottom">Assessment Results</h4>
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IP Address</th>
            <th>HTTP Accessible</th>
            <th>HTTPS Accessible</th>
            <th>Status</th>
            <th>Registration Date</th>
            <th colspan="2">Operation</th>
          </tr>
          </thead>
          {% for subdomain in subdomains %}
          <tr>
            <th scope="row">{{ subdomain.id }}</th>
            <td>{{ subdomain.name }}</td>
            <td>{{ subdomain.ip_address }}</td>
            <td>{{ subdomain.http_accessible }}</td>
            <td>{{ subdomain.https_accessible }}</td>
            <td>{{ subdomain.status }}</td>
            <td>{{ subdomain.registration_date}}</td>
            <td>
              <input type="checkbox" name="bulk_vulnerability_assessment" value="1">
            </td>
            <td>
              <a href="{% url 'gyoithon:detail_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-info btn-sm">View</a>
              <a href="{% url 'gyoithon:edit_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-primary btn-sm">Edit</a>
              <a href="{% url 'gyoithon:delete_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-danger btn-sm">Hide</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a href="{% url 'gyoithon:detail_domain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-secondary">Back</a>
{% endblock content %}
