{% extends "gyoithon/base.html" %}

{% block title %}{{ organization.name }}{% endblock title %}

{% block breadcrumb_title %}{{ organization.name }}{% endblock breadcrumb_title %}

{% block body_title %}{{ organization.name }}{% endblock body_title %}

{% block body_description %}{{ organization.overview | linebreaksbr }}{% endblock body_description %}

{% block content %}
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Registration Date</th>
            <td>{{ organization.registration_date }}</td>
          </tr>
          <tr>
            <th>Region</th>
            <td>{{ organization.get_region_display }}</td>
          </tr>
          <tr>
            <th>Industry</th>
            <td>{{ organization.get_industry_display }}</td>
          </tr>
          <tr>
            <th>Domains</th>
            <td>{{ organization.domain }}</td>
          </tr>
          <tr>
            <th>Subdomains</th>
            <td>{{ organization.subdomain }}</td>
          </tr>
          <tr>
            <th>Rank</th>
            <td>{{ organization.get_rank_display }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{ organization.get_status_display }}</td>
          </tr>
          <tr>
            <th colspan="2">
              <a href="{% url 'gyoithon:edit_organization' organization_id=organization.id %}" class="btn btn-info">Edit</a>
              <a href="{% url 'gyoithon:search_domain' organization_id=organization.id %}" class="btn btn-success">Search Domain</a>
              <a href="{% url 'gyoithon:registration_domain' organization_id=organization.id %}" class="btn btn-info">Add Domain</a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4 border-bottom">Domain List</h4>
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>Registrant Organization</th>
            <th>Registrant Email</th>
            <th>Subdomains</th>
            <th>Rank</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          {% for domain in domains %}
          {% if domain.invisible == 0 %}
          <tr>
            <th scope="row">{{ domain.id }}</th>
            <td>{{ domain.name }}</td>
            <td>{{ domain.registration_date}}</td>
            <td>{{ domain.registrant_organization }}</td>
            <td>{{ domain.registrant_email }}</td>
            <td>{{ domain.subdomain }}</td>
            <td>{{ domain.get_rank_display }}</td>
            <td>{{ domain.get_status_display }}</td>
            <td>
              <input type="checkbox" name="bulk_vulnerability_assessment" value="1">
            </td>
            <td>
              <a href="{% url 'gyoithon:detail_domain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-primary btn-sm">View</a>
              <a href="{% url 'gyoithon:edit_domain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-info btn-sm">Edit</a>
              <a href="{% url 'gyoithon:delete_domain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-danger btn-sm">Hide</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="5">
              <button type="submit" class="btn btn-success">Search Subdomain</button>
              <button type="submit" class="btn btn-warning">Assess</button>
              <button type="submit" class="btn btn-dark">Search & Assess</button>
              <button type="submit" class="btn btn-secondary">Hidden Domain</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a href="{% url 'gyoithon:list_organization' %}" class="btn btn-secondary">Back</a>
{% endblock content %}
