{% extends "gyoithon/base.html" %}

{% block title %}{{ domain.name }}{% endblock title %}

{% block breadcrumb_title %}
<a href="{% url 'gyoithon:detail_organization' organization_id=organization.id %}">{{ organization.name }}</a>
&nbsp;/&nbsp;
{{ domain.name }}
{% endblock breadcrumb_title %}

{% block body_title %}{{ domain.name }}{% endblock body_title %}

{% block body_description %}{{ domain.overview | linebreaksbr }}{% endblock body_description %}

{% block content %}
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Registration Date</th>
            <td>{{ domain.registration_date }}</td>
          </tr>
          <tr>
            <th>Registrar</th>
            <td>{{ domain.registrar }}</td>
          </tr>
          <tr>
            <th>Administrative Contact</th>
            <td>{{ domain.administrative_contact }}</td>
          </tr>
          <tr>
            <th>Registrant Name</th>
            <td>{{ domain.registrant_name }}</td>
          </tr>
          <tr>
            <th>Registrant Organization</th>
            <td>{{ domain.registrant_organization }}</td>
          </tr>
          <tr>
            <th>Registrant Email</th>
            <td>{{ domain.registrant_email }}</td>
          </tr>
          <tr>
            <th>Admin Name</th>
            <td>{{ domain.admin_name }}</td>
          </tr>
          <tr>
            <th>Admin Organization</th>
            <td>{{ domain.admin_organization }}</td>
          </tr>
          <tr>
            <th>Admin Email</th>
            <td>{{ domain.admin_email }}</td>
          </tr>
          <tr>
            <th>Tech Name</th>
            <td>{{ domain.tech_name }}</td>
          </tr>
          <tr>
            <th>Tech Organization</th>
            <td>{{ domain.tech_organization }}</td>
          </tr>
          <tr>
            <th>Tech Email</th>
            <td>{{ domain.tech_email }}</td>
          </tr>
          <tr>
            <th>Name Server</th>
            <td>{{ domain.name_server | linebreaksbr }}</td>
          </tr>
           <tr>
            <th>Subdomains</th>
            <td>{{ domain.subdomain }}</td>
          </tr>
          <tr>
            <th>Rank</th>
            <td>{{ domain.get_rank_display }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{ domain.get_status_display }}</td>
          </tr>
          <tr>
            <th colspan="2">
              <a href="{% url 'gyoithon:edit_domain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-info">Edit</a>
              <a href="{% url 'gyoithon:search_subdomain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-success">Search Subdomain</a>
              <a href="{% url 'gyoithon:registration_subdomain' organization_id=organization.id domain_id=domain.id %}" class="btn btn-info">Add Subdomain</a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4 border-bottom">Subdomain List</h4>
<div class="col-12 col-xl-12 mb-4 mb-lg-0">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>IP Address</th>
            <th>HTTP Accessible</th>
            <th>HTTPS Accessible</th>
            <th>Rank</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          {% for subdomain in subdomains %}
          <tr>
            <th scope="row">{{ subdomain.id }}</th>
            <td>{{ subdomain.name }}</td>
            <td>{{ subdomain.registration_date}}</td>
            <td>{{ subdomain.ip_address }}</td>
            <td>{{ subdomain.http_accessible }}</td>
            <td>{{ subdomain.https_accessible }}</td>
            <td>{{ subdomain.get_rank_display }}</td>
            <td>{{ subdomain.get_status_display }}</td>
            <td>
              <input type="checkbox" name="bulk_vulnerability_assessment" value="1">
            </td>
            <td>
              <a href="{% url 'gyoithon:detail_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-primary btn-sm">View</a>
              <a href="{% url 'gyoithon:edit_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-info btn-sm">Edit</a>
              <a href="{% url 'gyoithon:delete_subdomain' organization_id=organization.id domain_id=domain.id subdomain_id=subdomain.id %}" class="btn btn-danger btn-sm">Hide</a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3">
              <button type="submit" class="btn btn-warning">Assess</button>
              <button type="submit" class="btn btn-secondary">Hidden Subdomain</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a href="{% url 'gyoithon:detail_organization' organization_id=organization.id %}" class="btn btn-secondary">Back</a>
{% endblock content %}
